{{#each this}}

  <li class="item-box">
    <div class="item">
      <img class="flag" src="{{this.flags.svg}}" />
      <p class="country-name">{{this.name.oficial}}</p>
    </div>
    <div class="capital"><p class="strong-name">Capital:</p><p
      >&nbsp{{this.capital}}</p>
    </div>
    <div class="capital"><p class="strong-name">Population:</p><p
      >&nbsp{{this.population}}</p>
    </div>

    <div class="capital"><p class="strong-name">Languages:</p>
      <ul class="langs">
        {{#each languages}}

          <li class="lang-item">{{this.name}}, &nbsp </li>

        {{/each}}
      </ul>
    </div>
  </li>
{{/each}}